.disclaimer-premium {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, #5ee7df 0%, #b490ca 100%);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    height: 35px;
}

.disclaimer-premium .text {
    flex-shrink: 0;
}

.disclaimer-premium .disclaimer-premium__title {
    color: #FAF9F6;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

.disclaimer-premium .disclaimer-premium__subtitle {
    color: #FAF9F6;
    font-size: 14px;
    font-weight: 500;
}

.disclaimer-premium button {
    background-color: #FAF9F6;
    color: #a18cd1;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
}