.main-container {
  max-width: 80vw;
  margin-left: 320px;
  margin-right: 56px;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 10px;
  padding: 12px;
  border-radius: 8px;
  background-color: transparent;
}

.header__navigation .navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__navigation .navigation .arrow-left {
  margin-right: 0.75rem;
}

.arrow-left,
.arrow-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: #b490ca;
  border-radius: 500px;
  border: none;
  cursor: pointer;
  color: #faf9f6;
}

.header__login {
  display: flex;
  align-items: center;
}

.header__search {
  display: flex;
  align-items: center;
  width: 364px;
  height: 48px;
  margin-left: 8px;
  background: #b490ca;
  border-radius: 500px;
  border: 1px solid transparent;
}

.header__search img {
  width: 16px;
  height: 16px;
  margin-left: 10px;
  color: #faf9f6;
}

.header__search input {
  background-color: transparent;
  border: none;
  padding: 0px 100px 0 12px;
  color: #faf9f6;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
}

.header__search input::placeholder {
  color: #faf9f6;
}

.header__login .subscribe {
  color: #faf9f6;
  font-size: 16px;
  font-weight: 700;
  margin-right: 32px;
  margin-left: 15px;
  background-color: transparent;
  border: none;
}

.header__login .login {
  width: 100px;
  height: 48px;
  background-color: #faf9f6;
  font-size: 16px;
  font-weight: 700;
  color: #a18cd1;
  border-radius: 40px;
  border: none;
  /* padding: 10px 20px; */
}

.header__search:hover {
  border: 1px solid #faf9f6;
}

.header__login .subscribe:hover {
  transform: scale(1.04);
  color: #a18cd1;
  cursor: pointer;
}

.header__login .login:hover {
  transform: scale(1.04);
  cursor: pointer;
}